/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /*header start*/
     header{
         padding: 0;
     }
     .logo{
         width: 190px;
     }
     .menu ul li a {
        margin-bottom: 6px;
        padding: 0 10px !important;
     }
     .btn_sign {
        margin-left: 0px;
       }
    /*header end*/
    /*banner start*/
    .banner {
        padding: 10px 0 60px;
    }
    .b_content {
        text-align: center;
    }
    .b_h1 {
        padding: 0;
        font-size: 30px;
        line-height:45px;
     }
     .b_p2 {
       font-size: 15px;
        padding: 0;
        line-height: 30px;
     }
     .b_img {
       margin-bottom: 30px;
        padding: 0;
    }
    /*banner end*/
    /*feature start*/
    .c_padding{
        padding: 0 0 80px;
    }
    .f_item {
        margin: 35px 0 0;
        padding: 45px 0 40px;
    }
    .f_img {
        width: 65px;
        height: 70px;
    }
    .f_h2 {
        font-size: 20px;
        line-height: 30px;
     }
      /*course start*/
    .c_title h1{
       font-size: 30px;
       line-height: 44px;  
    }
    .c_item {
        margin:30px 0 0;
        padding: 15px 15px 15px;
    }
    .c_h2{
        font-size: 20px;
    }
    .btn_c{
        margin: 20px 0 20px;
    }
    .lit:not(:last-child) {
        margin-right: 0;
    } 
    .c_left ul li img,.c_right ul li img{
           width: 19px;
    }
    .c_left ul li p, .c_right ul li p{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
    }
    
    
      /*testimonial start*/
     .t_item{
        margin-top: 30px;
    }
     .t_img{
        padding: 0 60px 20px;
     }
     .t_text{
        text-align: center;
     }
     /*footer top start*/
     .footer_top{
        text-align: center;
        padding: 55px 0 20px;
    }
     .ft_details{
        margin-bottom: 35px;
        padding-right: 0;
    }
    .ft_links{
       margin-bottom: 35px;
    }
      }
    
    /*Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) and (max-width: 767.98px) { 
    /*header start*/
     header{
         padding: 0;
     }
      .logo{
         width: 190px;
     }
     .menu ul li a {
        margin-bottom: 6px;
        padding: 0 10px !important;
     }
     .btn_sign {
        margin-left: 0px;
       }
    /*header end*/
    
    /*banner start*/
    .banner {
        padding: 10px 0 60px;
    }
    .b_content {
        text-align: center;
    }
    .b_h1 {
        padding: 0 69px;
        font-size: 38px;
        line-height: 55px;
     }
     .b_p2 {
       font-size: 15px;
        padding: 0 30px;
        line-height: 30px;
     }
     .b_img {
       margin-bottom: 30px;
        padding: 0 50px;
    }
    /*banner end*/
    /*feature start*/
    .c_padding {
        padding: 0 0 80px;
    }
    .f_item {
        margin: 35px 0 0;
        padding: 45px 0 40px;
    }
    .f_img {
        width: 65px;
        height: 70px;
    }
    .f_h2 {
        font-size: 20px;
        line-height: 30px;
     }
     /*course start*/
    .c_item {
        margin: 30px 30px 0;
    }
    
     /*testimonial start*/
     .t_item{
        margin-top: 30px;
    }
     .t_img{
        padding: 0 120px 20px;
     }
     .t_text{
        text-align: center;
     }
     /*footer top start*/
    .footer_top{
        text-align: center;
    }
    .ft_details{
        margin-bottom: 40px;
        padding-right: 70px;
        padding-left: 70px;
    
    }
    
     }
    
    /*Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) and (max-width: 991.98px) { 
     /*header start*/
     .menu ul li a {
        margin-bottom: 6px;
        padding: 0 10px !important;
     }
     .btn_sign {
        margin-left: 0px;
       }
     /*header end*/
    
     /*banner start*/
      .b_content {
        text-align: center;
    }
    .b_h1 {
        padding: 0 115px 0;
     }
     .b_p2 {
        padding: 0 60px;
     }
     .b_img {
       margin-bottom: 30px;
        padding: 0 70px;
    }
    /*banner end*/
    /*feature start*/
    .c_padding {
        padding: 0 0 80px;
    }
    /*course start*/
    .c_item {
        margin: 40px 120px 0;
    }
     /*testimonial start*/
    .t_item{
        margin-top:40px;
    }
    /*footer top start*/
    .footer_top{
        text-align: center;
    }
    .ft_details{
        margin-bottom: 40px;
        padding-right: 80px;
        padding-left: 80px;
    
    }
     }
    
    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) and (max-width: 1199.98px) { 
    /*banner start*/
    
    .b_h1 {
        padding-right: 80px;
     }
     .b_p2 {
        padding-right: 50px;
     }
      /*banner end*/    
    
    /*feature start*/
      .f_h2 {
        font-size: 20px;
     }
     /*courses start*/
    .lit:not(:last-child) {
        margin-right: 0;
    } 
    .c_left ul li img,.c_right ul li img{
           width: 19px;
    }
    .c_left ul li p, .c_right ul li p{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
    }
    
    
     /*testimonial start*/
    .t_item{
        margin-top: 50px;
    }
    
    
     }
    
    /* Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) and (max-width: 1399.98px) {
    /*banner start*/ 
    .b_h1 {
        padding-right: 75px;
     }
     .b_p2 {
        padding-right: 50px;
     }
     /*banner end*/
     }
    
    
    /* Extra extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1400px) {
    /*banner start*/
    .b_h1 {
        padding-right: 150px;
       }
    .b_p2 {
        padding-right: 117px;
    }
    /*banner end*/
    /*footer top start*/
    .ft_details {
        padding-right: 140px;
    }
     }